{
    test: {
        executableName: "test",
        buildDir: "./build",
        sourceFiles: [
            "Test/*.cpp"
        ],
        emccOptions: [
            "-O3"
        ],
        cOptions: [
            "-std=c++11"
        ],
        preloadFiles: [
            "files/"
        ]
    }
}
