{
    xsb: {
        executableName: "xsb",
        buildDir: "build/",
        sourceFiles: [
            "src/*.cpp",
            "src/config/saved.o/xsb.o"
        ],
        emccOptions: [
            "-Oz",
            "-I src/emu",
            "-I src/config",
            "-s USE_PTHREADS=1",
            "-s TOTAL_MEMORY=1024MB"
        ],
        cOptions: [
            "-std=c++11"
        ],
        preloadFiles: [
            "dir/"
        ]
    }
}
