.menu-btn {
  margin-right: 4px;
  border-color: rgb(200,200,200,200);
  padding: 8px;
  border-radius: 0px 0px 5px 5px;
  background-color: rgb(200,200,200);
}

.btn-dark {
  color: #fff;
  background-color: #c1c1c1;
  border-color: rgba(52,58,64,0);
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

textarea {
  color: white;
  border: 0px;
  font-family: consolas;
  font-size: 13px;
  box-sizing: border-box;
}

textarea {
  overflow-y: scroll;
  resize: none;
  box-sizing: border-box;
  user-select: none;
}

::webkit-scrollbar {
  width: 15px;
  background-color: rgb(50,50,50);
}

::webkit-scrollbar-track-piece {
  background-color: rgb(50,50,50);
}

::-webkit-scrollbar-thumb:vertical {
  background-color: rgb(50,50,50);
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

div {
}

::-webkit-scrollbar-track {
  background: #505050;
}

::-webkit-scrollbar-track {
  background: #505050;
}

element.style {
  height: 93vh;
}

div {
}

::-webkit-scrollbar {
  background: #323232;
}

::-webkit-scrollbar-track {
  background: #101010;
}

::-webkit-scrollbar-thumb:hover {
  background: #505050;
}

:focus {
  outline: none !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #545454;
  border-color: #8c8c8c;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #8b8b8b;
  border-color: #000000;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(255,255,255,0.5);
}

.btn-primary:hover {
  color: #fff;
  background-color: #545454;
  border-color: #bfbfbf;
}

.btn-primary {
  color: #fff;
  background-color: #8b8b8b;
  border-color: #6c6c6c;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(193,193,193,0.44);
}

button, input {
  background-color: rgb(0,0,0);
  color: white;
  border-color: #505050;
  border-style: double;
}

