{
    rowreduce: {
        executableName: "rowreduce",
        buildDir: "build/",
        sourceFiles: [
            "MatrixRowReducer/*.cpp"
        ],
        emccOptions: [
            "-O3"
        ],
        cOptions: [
            "-std=c++11"
        ],
        preloadFiles: [
            "examples/"
        ]
    },
    matrixmake: {
        executableName: "matrixmake",
        buildDir: "build/",
        sourceFiles: [
            "RandomMatrix/*.cpp"
        ],
        emccOptions: [
            "-O3"
        ],
        cOptions: [
            "-std=c++11"
        ],
        preloadFiles: [
        ]
    }
}
