{
    examplecommand: {
        executableName: "examplecommand",
        buildDir: "build/",
        sourceFiles: [
            "Example-Command/*.cpp"
        ],
        emccOptions: [
            "-O3"
        ],
        cOptions: [
            "-std=c++11"
        ],
        preloadFiles: [
            "text-files@/"
        ]
    }
}
